.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
  }
  .overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin:250px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 300px;
    position: relative;
  }
  .content{
      position: relative;
  }
  #close{
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0px;
      top: 0px;
  }
  .top_title{
    width: auto;
    height: 70px;
    text-align: center;
  }
  .top_title>span{
    font-size: 41px;
    font-weight: bold;
  }
  table{
    margin: auto; 
  }
  th{
    background: skyblue;
  }
  table tr{
    cursor: pointer;
  }
  td{
    padding-left:50px;
    padding-right:50px;
  }
  .yes_no_question{
    display: flex;
    align-items: center; 
    justify-content: space-around;
  }
 .features{
    position: fixed;
    top:100px;
    left: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .features>a{
    text-decoration:none;
    width: 100px;
    height: 100px;
    text-align: center;
  }

  a[href="#modalAdd"]{
    background: url("../assets/img/new-user.svg") no-repeat  center;
    background-size: 50px; 
  }
  a[href="#modalEdit"]{
    background: url("../assets/img/pen-on-square-of-paper-interface-symbol.svg") no-repeat  center;
    background-size: 50px; 
  }
  a[href="#modalDelete"]{
    background: url("../assets/img/rubbish-bin.svg") no-repeat  center;
    background-size: 50px; 
  }
  #mess{
    animation-name: ani-blur;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
  @keyframes ani-blur{
    from{
      opacity: 1;
    }
    to{
      opacity: 0;
    }
  }
  .content>a{
    text-decoration: none;
    background: red;
    text-align: center;
    color: white;
    border-radius: 3px;
  }