ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li {
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 0.1px gray;
    line-height: 65px;
    padding-left: 10px;
    width: 540px;
}

h1 {
  margin:0px;
  margin-bottom:10px;
    color: #ead7d7;
    text-align: center;
    font-size:100px;
    font-family:Helvetica;
    font-weight:normal;
}

.cbDoFull{
    display: inline-block;width: 58px;height: 30px;
}

#mainForm{
    width: 550px;
    box-shadow:0px 0px 1px #e6e6e6;
    display: flex;
    align-items: center;
}
.underList{
    position: relative;
}
.features{
    width: 550px;
    height: 45px;
    position: absolute;
    z-index: 3;
    background: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #B4B4B4;
}
.flatdown1{
    position: absolute;
    left:5px;
    top:5px;
    z-index: 2;
    width: 540px;
    height: 45px;
    box-shadow: 0px 0px 10px 0px #B4B4B4;
    background: white;
}
.flatdown2{
    position: absolute;
    left:10px;
    top:11px;
    z-index: 1;
    width: 530px;
    height: 45px;
    box-shadow: 0px 0px 10px 0px #B4B4B4;
    background: white;
}

.mytodolist {
    width: 550px;
    display: block;
    margin-left:30%;
    box-shadow: 0px 5px 20px 0px #B4B4B4;
}

button {
    margin-right: 10px;
    padding: 5px 8px 5px 8px;
    font-size: 14px;
    border: none;
    font-family:Helvetica;
    font-size: 14px;
    color: #777777;
    background: white;
}
button:focus{
    outline: none;
    border:solid 1px #EFD5D5;
    border-radius: 5px;
}
button:focus:hover{
    border:solid 1px #EFD5D5;
    border-radius: 5px;
}
button:hover{
    border:solid 1px #F7EAEA;
    border-radius: 5px;
}
#btnAll{
    margin-left: 55px;
}
#btnClearC{
    padding-right: 0px;
    width: 150px;
    margin-left: 73px;
    border: none !important;
}
#btnClearC:hover{
    text-decoration: underline;
}
#mainInput{
    width: 450px;
    height: 69px;
    border:none;
    font-size:24px;
    font-family:Helvetica;
}
#mainInput:focus{
    outline: none;
}
#inputItem{
    font-size:24px;
    font-family:Helvetica; 
    margin-left: 30px !important;
    margin-top: 1px !important;
    height: 58px;
    width: 490px;
    border: solid 0.5px gray;
}
#inputItem:focus{
    outline: none;
}
#cbDoOne:checked::before{
    content: url(../assets/img/checked.svg);
    position: absolute;
    left: 8px;
    top: 15px;
}
#cbDoOne::before{
    content: url(../assets/img/nocheck.svg);
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 8px;
    top: 15px;
}
#cbDoAll:checked::before{
    content: url(../assets/img/downChecked.svg);
}
#cbDoAll{
    margin-top: 7px;
    margin-left: 15px;
}
#cbDoAll::before{
    content: url(../assets/img/downUnChecked.svg);
    display: block;
    width: 24px;
}
::placeholder {
  font-size:26px;
  color:#e6e6e6;
  font-style:italic;
}
#delete {
    content: url("../assets/img/delete.svg");
    position: absolute; right:25px;
    margin: 0px;
    width: 12px;
    visibility: hidden;
}
#delete:hover {
    visibility: visible;
    content: url("../assets/img/deleteHover.svg");
}

li:hover #delete {
    visibility: visible;
    
}

#numbitem {
    width: 100px;
    height: 20px;
    font-family:Helvetica;
    font-size: 13px;
    color: #777777;
    padding-left: 15px;
}

#todo {
    width: 200px;
    margin: 0px;
    padding-left: 31px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:24px;
    font-family:Helvetica;
}